*{
    margin: 0px;
    padding: 0px;
}




body{   
font-family: 'Work Sans'
}

.logo{
    display: flex;
    color: rgba(11, 2, 35, 1);
    font-weight: 700;
    font-size: 2.8rem;
    gap: 15px;
}

.nav-container{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 110px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 0px;
    margin: 0px;
}

.btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 250px;
    height: 45px;
    gap: 19px;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;

}

.btn:hover{
    cursor: pointer;
}

.li{
    margin-top: 14px;
    color: #3C354F;
    font-weight: 500;
    font-size: 1.1rem;

}

li:hover{
    cursor: pointer;
}

.bttn{ 
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.btttn{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: none;
    
   
}

.bttn:hover{
    cursor: pointer;
}

.btttn:hover{
    cursor: pointer;
}

.text{
    background-image: url('images/Group\ 14.png');
    width: 50%;
    padding: 80px;
    background-repeat: no-repeat;
  
}

.btn-container{
    display: flex;
    gap: 10px;
}

.banner-container{
    display: flex;
}

.text-container{
    text-align: center;
    margin-top: 70px;
}

.img-container{
    display: flex;
    justify-content: center;
    gap: 14px;
    
}

figcaption{
    margin-top: 25px;
    color: #534C64;
    font-size: 1.25;
    font-weight: 500;
}

.textt{
    width: 70%;
    text-align:center;
    margin-top: 170px;
   
}

.cowboy{
  
}

.cowboy-container{
    display: flex;
    width: 100%;
    margin-top: 120px;
}

.butam{
    border-radius: 50px;
    background: #FFF;
    width: 270px;
    height: 90px;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    gap: 17px;
   

}

.fline{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 20px;
    
}

.butam:hover{
    cursor: pointer;
    color: #FF42A5;
    border: 7px solid #FF42A5
}

.sline{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.logo2{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 70px;
}   

footer{
    margin-top: 120px;
    background-color: rgba(11, 2, 35, 1);
    
}

.list{
    color: #FFF;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
}

.lo:hover{
    cursor: pointer;
    color: #FF42A5;
}

.icon{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    padding: 25px;
    gap: 40px;
}

.mini{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    gap: 60px;
    list-style: none;
    margin-top: 55px;
}

.minii{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    text-align: center;
    margin-top: 55px;
    padding-bottom: 70px;
}

.lp:hover{
    cursor: pointer;
    color: #ffffff;
}

